.border-row {
    border: 10px solid $lightOpacity;
}

.collection-cover_picture {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}


.mw-992 {
    max-width: 768px!important;
}

** {
    word-wrap: break-word!important;
}