.border-row {
    border: 10px solid $lightOpacity;
}




.mw-992 {
    max-width: 992px!important;
    .collection-cover_picture {
        transition: 0.4s ease-in-out;
    }
    &:hover {
        .collection-cover_picture {
        transform: scale(1.1);
        }
    }
}

** {
    word-wrap: break-word!important;
}