@import "./variables.scss";

.modal-body {
    .option {
        border: none;
        transition: all 0.2s ease-in-out;
        background-color: lighten($grey, 7.5%);
        img {
            width: 30px;
            margin-right: 25px;
            transition: all 0.2 ease-in-out;
        }
        &:hover {
            opacity: 0.95;
            background-color: $grey;
            transform: scale(1.02);
        }

    }
}

.modal-content {
    background-color: $grey!important;
}